* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}
h2 {
  font-weight: 100;
}
a {
  background-color: #3fa03f;
  color: white;
  text-decoration: none;
  padding: 20px;
}
input {
  background-color: rgb(221, 221, 221);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(22, 22, 22);
    color: rgb(197, 197, 197);
  }
  a {
    color: white;
    background: none;
    color: #3fa03f;
  }
  a:hover {
    background-color: #3fa03f;
  }
  input {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(194, 194, 194);
  }
  header {
    background-color: rgb(27, 27, 27);
  }
}
